
div.fields {
    float: left;
    min-width: 400px;
    max-width:900px;
    margin-top:19px;
	line-height:11px;
}

div.remove {
    float: left;
    cursor:pointer;
    margin-top:26px;
	width: 19px;
	display:none;
	/*margin-right:10px;*/
}
.fields .ad1{ clear:both;}
.fields .ad1 .chosen-container{ margin-top:0px; margin-bottom:10px;}
.fields .ad1 div{ margin-left:5px!important; margin-right:5px!important;}
.fields .ad1 div div{ margin:0!important;}
.fields .ad1 .ad2, .fields .ad1 .select-bg, .fields .ad1 .chosen-container{ float:left;}
.chosen-container-single .chosen-single span{ margin-top:3px; line-height:16px}
.remove {
   
    cursor:pointer;
}
.fields input {
    width: 300px ! important;
}

div. clients-above{
padding:	7px 7px 0;
border-radius:	5px;
}
div.advtitle {
	font-weight: bold;
	padding-bottom:15px;
	/*border-bottom:1px solid #d9d9d9!important; Amol commented*/
	/*margin-bottom:20px;*/
	position:fixed;
	top:110px;
	/*width:76%;*/
	width:100%;
	z-index:9999;
	margin-left:35px;
	/*font-size:20px;*/
}

div.advtitle h6{ font-size:16px; margin:0!important;}

div .search{
margin-top:9px;
width:518px;



}

#addfield{

font-size:20px;
font-weight:bold;
cursor:pointer;
display:none;

}

.fields .makeup {
   display: inline-block;
   position:relative;
   /*min-height:21px;*/
   margin-top:-1px;
   
}
.error{ position:absolute; font-size:12px!important;}

div .modify-search
{
	cursor:pointer;
	font-weight: bold;
	display:none;
	margin-bottom:6px;
}
span.removespan{ background:url(../images/minus.png) no-repeat; text-indent:-99999;
    padding: 1px 8px; width: 22px;}

/* Added by Amol to show loader on adv search layout*/
div.loader_adv{ 

	background:url(../images/ajax-loader.gif) no-repeat;
    /*padding-left:280px;
    padding-top:40px;*/
	background-size:100%;
    display:none;
	position: absolute;
right: -30px;
width: 24px;
height: 24px;
top: -24px;
    }

.loadercover{ position:relative; width:300px;}
span#searchbox
{ 

text-indent:-9999; 
padding: 5px 14px 5px 36px; 
font-size:14px;
text-indent:9999; 
font-weight:normal;
color:#2e2e2e;
padding-left:35px;
margin-top:1px;
display:block;
/*color:#fff;*/
/*float:left;*/

}
/*.ad-srch-button{ margin-top:9px; margin-bottom:35px; overflow:hidden;}
Commented by Amol*/
.ad-srch-button{ position: FIXED; top: 85PX; z-index: 9999; right: 10PX;}

.ad-srch-button input{float:left; margin-right:10px;}
.main-div input{ border:1px solid #ccc; padding: 4px 2px;}
.modify-search {/* background:url(../images/modify-search.png) no-repeat left center; padding: 5px 0 9px 30px;*/}

.text-input{
border : 1px solid #DDD;

}
#loading
{
display:none;
padding-left:15px;
}

#savesearchedmessge
{
margin-top: 20px;
font-weight:bold;
font-size:12px
}
#totalresult{
	padding-top:5px ;
	margin-bottom:15px;
}
.adcaption{ right:8px!important;}
.border1 .rectitle{
	font-size:13px !important;
	font-weight:normal !important;
	color:#6b6b6b  !important;
}
.border1 img{
	border-radius:5px 5px 0px 0px;
}
.pictures .imageTitleText{
	max-height:54px !important;
	overflow:hidden;
	float: left;
    font-size: 13px;
    height: 46px;
    line-height: 16px;
    width: 90%;
    padding:0px 5px 4px !important;
    text-align:left;
}
#loadings{
	display:none;
}
.pictures{
	padding-left:1px !important;
}
.border1 .mydiv{
	height:50%;
	width:100%;
	border-radius:0 0 5px 5px;
}
.btnToggle{
	display:none;
}
.advsearch .error{
	padding-top:8px !important;
	color:#F44016 !important;
}
.field.makeup  .error{
	padding-top:3px !important;
	color:#F44016 !important;
}
.hi.border1{
	text-align:center;
}
.myfields{
	float:left;
	clear:both;
}

.photos .photo {
  width: 150px;
  margin: 5px;
  float: left;
}

.photos .photo img {
  display: block;
  width: 100%;
}


#mydiv{
    position:absolute;
    overflow-y:none;
    z-index:1001;
    border:3px solid #838383!important;
	margin-left:-1px;
	margin-top:-3px;
	z-index:0;
}

.imagetitle{
z-index:9999;
line-height:13px;
padding:2px 0px 4px 0px !important;
text-align:left !important;
}

.rectitle{
color:#f1a601;
min-height:20px;
max-height:100px;
font-size:8px;
font-weight:bold;
margin-bottom:10px;
text-decoration:none !important;
line-height:normal;
}
#mydiv br{
    clear:both;
}
#recordtitle a{ min-height:20px; max-height:70px; font-size:11px!important; text-decoration:none; font-family: Book Antiqua; color:#f1a601!important;}
#recordtitle a:hover{ text-decoration:none;}
#mydiv-loader img{ height:50px!important; width:50px!important; position:fixed!important; top:33%; left:32%; border:none!important;}

#mydiv{ top:0; margin-bottom:5px;}

.mozila #mydiv a{ font-size:9px;}
#mydiv:hover{
	text-decoration: none;}
	
.ad1 .select-bg{margin: 0px 0 10px 0px !important;}
.category-cover{ overflow:visible!important;}

/* new move style from  osianama.css*/
div.ad2 {
    width: 300px;
    display: block!important;
    line-height: 24px;
}
.select-bg {
    background: url(../images/select-bg-200.png) no-repeat;
    overflow: hidden;
    height: 31px!important;
}

.fields div {
    display: inline-block;
}
.ad-srch-button input{ height:30px;}